header{
    background-color: #FFF8F3;
}
body{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 230px;
}
nav  li  {
    display: inline;
    text-decoration: none;
    margin-right: 50px;
}
nav li > a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.nav-title {
    color: #181818;
font-size: 45px;
font-weight: 800;

}
.text-primary{
    color: orangered;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
font-size: 20px;
padding: 20px 35px;
color: white;
border:none;
}
.Contact{
    border-color: #FD6E0A;
    border-radius: 5px;
background:white ;
font-size: 20px;
padding: 19px 34px;
color:#FD6E0A ;
}
div > button {
    margin: 0px 5px;
}
div{
    padding: 0px 0px;
    
    
}
.banner{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}